.todo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 16rem;
    margin: 0.8rem;
    .todo__task-text{
        margin-inline: 1rem;
        width: 100%;
        &--strikethrough{
            text-decoration: line-through;
        }
    }

    .todo__remove-button{
        margin: 0.2rem;
        font-weight: bold;
        padding: 0.1rem;
        padding-inline: 0.3rem;
    }
}