.todo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 16rem;
    margin: 0.2rem;
    .todo__task-text{
        margin-inline: 1rem;
        &--strikethrough{
            text-decoration: line-through;
        }
    }

    .todo__remove-button{
        height: 1.1rem;
        width: 1.1rem;
    }
}