.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30rem;
  margin: 1rem;

  .carousel__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel__arrow {
    &:hover {
      cursor: pointer;
    }
  }

  .carousel__text {
    margin: 1rem;
  }

  .carousel__image {
    margin: 1rem;
    width: auto;
    height: 6rem;
  }

  .carousel__header {
    margin: 1rem;
    width: 13rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
