.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 1rem;
  min-width: 15rem;

  .carousel__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel__arrow-left {
    position: relative;
    left: 0.7rem;
    &:hover {
      cursor: pointer;
    }
  }

  .carousel__arrow-right {
    position: relative;
    right: 0.7rem;
    &:hover {
      cursor: pointer;
    }
  }

  .carousel__text {
    margin: 1rem;
  }

  .carousel__image {
    margin: 0.5rem;
    width: auto;
    height: 7rem;
  }

  .carousel__header {
    margin: 1rem;
    min-width: 13rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    .carousel__image {
      height: 13rem;
    }
    .carousel__header {
      min-width: 40rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    .carousel__image {
      height: 16rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .carousel {
    .carousel__image {
      height: 19rem;
    }
  }
}
